@using Models;
@model CatalogViewModel;

@{
    int Next = Model.PageNumber + 1;
    int Previous = Model.PageNumber - 1;
}

<link rel="stylesheet" href="~/GUI/CatalogStyle.css" />
@foreach (Product product in Model.Products)
{
    <div class="Product">
        <img src="@product.ProductIMG" style="height: 310px; width: 325px; margin: 0px;">
        <button onclick="window.location.href='@Url.Action("GetProduct", "Guest", new { ProductID = product.ID})'">Click Me To See More!</button>
    </div>
}

<div class="Paging">
    @if (@Model.PageNumber != @Model.MaxPage)
    {
        <div class="Arrow Right" style="margin-left: 42%;background: none" onclick="window.location.href='@Url.Action("GetCatalog", "Guest", new { pageNumber = Next })'"></div>
    }
    @if (@Model.PageNumber != 1 && @Model.PageNumber != @Model.MaxPage)
    {
        <div class="Arrow Left" onclick="window.location.href='@Url.Action("GetCatalog", "Guest", new { pageNumber = Previous })'"></div>
    }
    @if (Model.PageNumber == Model.MaxPage)
    {
        <div class="Arrow Left" style="margin-left: 55%;background: none" onclick="window.location.href='@Url.Action("GetCatalog", "Guest", new { pageNumber = Previous })'"></div>
    }
</div>