@using Models;
@model CatalogViewModel;
@{
    ViewData["Title"] = "GetCatalog";
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int Next = Model.PageNumber + 1;
    int Previous = Model.PageNumber - 1;
}

@foreach (Product product in Model.Products)
{
    <div class="Product">
        <img src="@product.ProductIMG" style="height: 310px; width: 325px; margin: 0px;">
        <button onclick="window.location.href='@Url.Action("GetProduct", "Guest", new { ProductID = product.ID })'">Click Me To See More!</button>
    </div>
}

<div class="Paging">
    @if (@Model.PageNumber != @Model.MaxPage)
    {
        <div class="Arrow Right" style="margin-left: 42%;background: none" onclick="window.location.href='@Url.Action("GetCatalog", "Guest", new { pageNumber = Next, SaleID = Model.SaleID, StoreID = Model.StoreID, BrandID = Model.BrandID })'"></div>
    }    
    @if (@Model.PageNumber != 1)
    {
        <div class="Arrow Left" onclick="window.location.href='@Url.Action("GetCatalog", "Guest", new { pageNumber = Previous, SaleID = Model.SaleID, StoreID = Model.StoreID, BrandID = Model.BrandID })'"></div>
    }   
    @* maybe add another if, but it needs more margin so it will be centered 
    *@
</div>



